<style type="text/css">
@media not print
{
.conf article h3 {
min-height: 2.5em !important;
}
}
</style>
<div class="container g-pt-20">
	<div class="row">
		{% for conf in confs %}
			{% if ((loop.index-1) % 3) == 0 %}
			</div><div class="row">
		{% endif %}

		<div class="conf col-lg-4 g-mb-30 ">
			<article class="g-bg-white u-shadow-v21 u-shadow-v21--hover ">
				<figure class="g-pos-rel">
					<a href="{{conf.link}}">
						<img class="img-fluid w-100 no-print"
						src="data:image/jpeg;base64, {{conf.picture}}"
						alt="{{conf.title}}" >
					</a>
				</figure>
				<div class="g-pa-10">
					<h3 class="h5 g-mb-15 ">
					<a href="{{conf.link}}" class="title u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">
						{{conf.title}}
					</a>
					</h3>
					<hr class="g-brd-gray-light-v4 g-my-20 no-print">
					<ul class="list-inline small text-uppercase mb-0">
						<li class="list-inline-item">
							<a href="{{conf.link}}" class="u-link-v5 g-color-main g-color-primary--hover">
							{{conf.where}}
						</a>
						</li>
						<li class="list-inline-item">-</li>
						<li class="list-inline-item">
							<i class="icon-bubbles align-middle g-color-gray-dark-v4 g-mr-2"></i>
							{{conf.date | slice(0,4)}}
						</li>
					</ul>
				</div>
			</article>
		</div>
	{% endfor %}
</div>
</div>